.tablesWrapper {
	position: relative;
	width: 231px;
	height: 170px;
	perspective: 500px; /* Добавим перспективу для 3D-эффекта */
}

.frontTable, .backTable {
	position: absolute;
	width: 200px;
	height: 150px;
	border-collapse: collapse;
	transition: transform 0.5s;
	transform-origin: top right; /* Центр вращения будет установлен у правого верхнего угла */
	transform-style: preserve-3d; /* Сохраняем 3D-стили для дочерних элементов */
}

.frontTable {
	left: 0;
	bottom: 0;
	opacity: 0.5;
	background-color: rgba(255,255,255,0.5);
	z-index: 2;
	transform: rotateY(-45deg); /* Вращаем переднюю таблицу вокруг оси Y */
}

.backTable {
	right: 0;
	top: 0;
	z-index: 1;
	transform: rotateY(-45deg); /* Вращаем заднюю таблицу вокруг оси Y */
}

.frontTable th, .frontTable td, .backTable th, .backTable td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}
